/*//////////////// common ////////////////*/
body {
	padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
	padding-left: constant(safe-area-inset-left); /* iOS 11.0 */
	padding-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
	padding-right: constant(safe-area-inset-right); /* iOS 11.0 */
	padding-top: env(safe-area-inset-top); /* iOS 11+ */
	padding-left: env(safe-area-inset-left); /* iOS 11+ */
	padding-bottom: env(safe-area-inset-bottom); /* iOS 11+ */
	padding-right: env(safe-area-inset-right); /* iOS 11+ */
}
html {
    font-size:14px;
	font-weight:300;
    color:#222;
	line-height:normal;
}
html,
html body {
	width:100%;
    height:100%; 
}
button,
input {
    line-height:normal;
}
button {
    color:inherit;
    background-color:transparent;
    outline:transparent; 
}
button, input, select, textarea {
	font-family:inherit;
	vertical-align:baseline;
}
input {
	font-family:"SB Aggro", 'Malgun Gothic', Gulim, sans-serif;
	padding:0 16px;
	border:transparent;
	box-sizing:border-box;
	outline:transparent; 
}
textarea {
	padding:10px;
	outline:transparent; 
	box-sizing:border-box
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance:button;
    -moz-appearance:button;
    appearance:button; 
}
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing:border-box;
    box-sizing:border-box; 
}
input[type="search"] {
    -webkit-appearance:textfield;
    -moz-appearance:textfield;
    appearance:textfield;
}
input[type="number"],
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance:none;
    appearance:none; 
}
button::-moz-focus-inner, 
input::-moz-focus-inner {border:0;padding:0}
textarea {overflow:auto;vertical-align:top;resize:vertical}
input:invalid, 
textarea:invalid {border-color:#C82E2D;}
button[disabled], 
input[disabled] {cursor:default;opacity:0.5;background:#fff}
input::-ms-clear {display:none;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-transition: background-color 9999s ease-out;
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input::placeholder {color:rgba(255, 255, 255, 0.6);font-weight:300}
input::-webkit-input-placeholder {color:rgba(255, 255, 255, 0.6);font-weight:300}
input:-ms-input-placeholder {color:rgba(255, 255, 255, 0.6);font-weight:300}
textarea::placeholder {color:rgba(255, 255, 255, 0.6);font-weight:300}
textarea::-webkit-input-placeholder {color:rgba(255, 255, 255, 0.6);font-weight:300}
textarea:-ms-input-placeholder {color:rgba(255, 255, 255, 0.6);font-weight:300}

input[type="checkbox"] {
	display: none;
}
input[type="checkbox"]+label {
	cursor: pointer;
	color: #fff;
	font-weight:300;
	line-height: 38px
}
input[type="checkbox"]+label span {
	display: inline-block;
	width:38px;
	height:40px;
	margin:0 -2px -5px -9px;
	vertical-align:middle;
	background:url(../images/common/ico_check.png) no-repeat 0 50%;
	background-size:38px;
	cursor:pointer;
}
input[type="checkbox"]:checked+label {
	color:#fff
}
input[type="checkbox"]:checked+label span {
	background: url(../images/common/ico_checked.png) no-repeat 0 0;
	background-size:38px;
}
input[type="radio"] {
	display: none;
}
input[type="radio"]+label {
	cursor: pointer;
	color: #fff;
	font-weight:300;
	line-height: 38px
}
input[type="radio"]+label span {
	display: inline-block;
	width:38px;
	height:40px;
	margin:0 0px -5px 0;
	vertical-align:middle;
	background:url(../images/common/ico_check.png) no-repeat 0 50%;
	background-size:38px;
	cursor:pointer;
}
input[type="radio"]:checked+label {
	color:#fff
}
input[type="radio"]:checked+label span {
	background: url(../images/common/ico_checked.png) no-repeat 0 0;
	background-size:38px;
}
select {
	cursor: pointer;
	font-size: 14px;
	color: #202020;
	width:100%;
	height:47px;
	vertical-align: middle;
	border: 1px solid #ddd;
	padding: 2px 29px 2px 15px;
	background: #fff url(../images/common/ico_arrow.png) calc(100% - 10px) 50% no-repeat;
	background-size:10px auto;
	border-radius:10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #fff;
    background-clip: padding-box;
    border:2px solid rgba(255, 255, 255, 0.2);
}
::-webkit-scrollbar-track {
    background-color:#111;
    box-shadow: inset 0px 0px 5px #111;
}

/* IE의 경우 */
input::-ms-clear,
input::-ms-reveal{
    display:none;
}
/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

body{
  margin:0;
  background: #111;
}

ul{
  margin:0;
  padding:0;
}
li{
  list-style:none;
}
.joinus_form {
  margin:16px 24px 0
}
.joinus_form .form_row {
  margin:0
}
.form_row {
  margin:0 0 24px;
  margin-left:16px;
  margin-right:16px;
}
.form_row span.stit {
  display:inline-block;
  font-size:12px;
  font-weight:300;
  color:#C5C5C5;
  line-height:15px;
  margin:0 0 8px 16px;
}
.input_wrap {
  position:relative;
  height:48px;
}
.input_wrap input {
  width:100%;    
  height:inherit;
  color:#fff;
  font-weight:300;
  padding-right:40px;    
  border:1px solid #5d5d5d;
  background:#000;
  border-radius:8px;
}
.btn_progress {
  font-size:16px;
  font-weight:300;
  color:#fff;
  width:calc(100% - 44px);
  height:52px;
  line-height:54px;
  margin:24px 22px 32px;
  background:rgb(255,57,111);
  background:-moz-linear-gradient(90deg, rgba(255,57,111,1) 0%, rgba(255,105,160,1) 100%);
  background:-webkit-linear-gradient(90deg, rgba(255,57,111,1) 0%, rgba(255,105,160,1) 100%);
  background:linear-gradient(90deg, rgba(255,57,111,1) 0%, rgba(255,105,160,1) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff396f",endColorstr="#ff69a0",GradientType=1);
  border-radius:26px;
  border:0 none;
}
.btn_progress:disabled {
  background:#3d3d3d ;
  opacity: 1;
}

.selectboxD {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
}
.selectboxD #single {
  height:100%
}
.simple-wheel,
.simple-wheel-separator {
  height: auto;
  width: 100%;  
  background-color: #000;
  border-width: 1px 0;
  border-radius: 16px 16px 0 0;
}
.simple-wheel-group {
  height:180px;
}
.simple-wheel-group {
  display: flex;
  flex-direction: row;
}
.simple-wheel,
.simple-wheel-separator {
  box-sizing: border-box;
  overflow-y: hidden;
  text-align:center;
  position: relative;  
}
.simple-wheel-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  touch-action: none;
}
.simple-wheel ul {
  display: inline-block;
  width:calc(100% - 48px);
  overflow-x: hidden;
  position: relative;
}
.simple-wheel li {
  position: relative;
  box-sizing: border-box;
  padding:8px 0;
  font-size:16px;
  font-weight:300;
  line-height:14px;
  color:#ccc;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
.simple-wheel li span {
  margin:0 12px 0 5px;
}
.simple-wheel li.selected {
  font-size:16px;
  color: #FF69A0;
  border:1px solid #FFA4BD;
  border-radius:8px
}
/* 스크롤 컨트롤 */
.simple-wheel + .sw_event_capture{
  position: absolute;
  width:0;
  height:0;
  overflow-y: scroll;
  text-align:center;
  cursor: grab;  
}
/* 스크롤바 비표시 ；　Chrome, Safari 대응 */
.simple-wheel ::-webkit-scrollbar,
.simple-wheel + .sw_event_capture::-webkit-scrollbar {
  display:none !important;
}
.simple-wheel + .sw_event_capture div {
  width:100%;
  height:100vh;
}
body.sw_preventSelectText,
.simple-wheel,
.simple-wheel-separator{
  /* 마우스로 드래그시 문자열을 선택하지 않도록 */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
body > #sw_mouseCaptureScreenToSimulateDragging{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: none;
  cursor: grabbing;
}

/* datepicker wheel */