$pre: hi;
$base-txt-color: #333;
$table-line-color: #f1f1f1;
$saturday-txt-color: blue;
$sunday-txt-color: red;
$list-btn-color: #f1f1f1;
$today-color: #ddd;
$selected-color: blue;
$selected-txt-color: #fff;

.#{$pre}-datepicker-show {
  z-index: 10;
}
.#{$pre}-datepicker-wrap {
  min-width: 300px;
  max-width: 420px;
  color: $base-txt-color;
  &.#{$pre}-datepicker-layer {
    display: none;
    position: absolute;
    width: 320px;
    z-index: -999;
    &.#{$pre}-datepicker-show {
      display: block;
    }
  }
  &.#{$pre}-datepicker-mobile {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    min-width: auto;
    align-items: center;
    justify-content: center;
    &.#{$pre}-datepicker-show {
      display: flex;
    }
    .#{$pre}-datepicker-dimm {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  button:not(:disabled) {
    cursor: pointer;
  }
  .#{$pre}-datepicker-inner {
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  .#{$pre}-datepicker-header {
    display: flex;
    padding: 10px;
    background-color: #eee;
  }
  .#{$pre}-datepicker-header-btn {
    width: 32px;
    height: 32px;
    color: transparent;
    font-size: 5px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ddd;
    flex-shrink: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50%;
    + .#{$pre}-datepicker-header-btn {
      margin-left: 10px;
    }
    &:disabled {
      opacity: 0.4;
    }

    &.prev-year {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='256' height='256' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(254.59340659340654 254.59340659340654) rotate(180) scale(2.81 2.81) matrix(1 0 0 -1 0 90)'%3E%3Cpath d='M 33.25 90 c -0.384 0 -0.768 -0.146 -1.061 -0.439 c -0.586 -0.586 -0.586 -1.535 0 -2.121 L 74.629 45 L 32.189 2.561 c -0.586 -0.585 -0.586 -1.536 0 -2.121 c 0.586 -0.586 1.535 -0.586 2.121 0 l 43.5 43.5 c 0.586 0.585 0.586 1.536 0 2.121 l -43.5 43.5 C 34.018 89.854 33.634 90 33.25 90 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(29,29,27); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3Cpath d='M 13.25 90 c -0.384 0 -0.768 -0.146 -1.061 -0.439 c -0.586 -0.586 -0.586 -1.535 0 -2.121 L 54.629 45 L 12.189 2.561 c -0.586 -0.585 -0.586 -1.536 0 -2.121 c 0.586 -0.586 1.535 -0.586 2.121 0 l 43.5 43.5 c 0.586 0.585 0.586 1.536 0 2.121 l -43.5 43.5 C 14.018 89.854 13.634 90 13.25 90 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(29,29,27); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
    }
    &.prev-month {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='256' height='256' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(254.59340659340654 254.59340659340654) rotate(180) scale(2.81 2.81) matrix(1 0 0 -1 0 90)'%3E%3Cpath d='M 23.25 90 c -0.384 0 -0.768 -0.146 -1.061 -0.439 c -0.586 -0.586 -0.586 -1.535 0 -2.121 L 64.629 45 L 22.189 2.561 c -0.586 -0.585 -0.586 -1.536 0 -2.121 c 0.586 -0.586 1.535 -0.586 2.121 0 l 43.5 43.5 c 0.586 0.585 0.586 1.536 0 2.121 l -43.5 43.5 C 24.018 89.854 23.634 90 23.25 90 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(29,29,27); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
    }
    &.next-month {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='256' height='256' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)'%3E%3Cpath d='M 23.25 90 c -0.384 0 -0.768 -0.146 -1.061 -0.439 c -0.586 -0.586 -0.586 -1.535 0 -2.121 L 64.629 45 L 22.189 2.561 c -0.586 -0.585 -0.586 -1.536 0 -2.121 c 0.586 -0.586 1.535 -0.586 2.121 0 l 43.5 43.5 c 0.586 0.585 0.586 1.536 0 2.121 l -43.5 43.5 C 24.018 89.854 23.634 90 23.25 90 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(29,29,27); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
    }
    &.next-year {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='256' height='256' viewBox='0 0 256 256' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cg style='stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;' transform='translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)'%3E%3Cpath d='M 33.25 90 c -0.384 0 -0.768 -0.146 -1.061 -0.439 c -0.586 -0.586 -0.586 -1.535 0 -2.121 L 74.629 45 L 32.189 2.561 c -0.586 -0.585 -0.586 -1.536 0 -2.121 c 0.586 -0.586 1.535 -0.586 2.121 0 l 43.5 43.5 c 0.586 0.585 0.586 1.536 0 2.121 l -43.5 43.5 C 34.018 89.854 33.634 90 33.25 90 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(29,29,27); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3Cpath d='M 13.25 90 c -0.384 0 -0.768 -0.146 -1.061 -0.439 c -0.586 -0.586 -0.586 -1.535 0 -2.121 L 54.629 45 L 12.189 2.561 c -0.586 -0.585 -0.586 -1.536 0 -2.121 c 0.586 -0.586 1.535 -0.586 2.121 0 l 43.5 43.5 c 0.586 0.585 0.586 1.536 0 2.121 l -43.5 43.5 C 14.018 89.854 13.634 90 13.25 90 z' style='stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(29,29,27); fill-rule: nonzero; opacity: 1;' transform=' matrix(1 0 0 1 0 0) ' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
    }
  }
  .pub-datepicker-title {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    font-size: 20px;
  }
  .#{$pre}-datepicker-title-btn {
    display: block;
    height: 32px;
    font-size: inherit;
    font-weight: bold;
    background: none;
    border: none;
    padding: 0 3px;
  }

  .#{$pre}-datepicker-body {
    border-top: 1px solid #ddd;
    padding: 10px;
  }
  .#{$pre}-datepicker-table {
    table {
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
    }
    th,
    td {
      padding: 2px;
      text-align: center;
      border: 1px solid $table-line-color;
      &[data-week-idx="6"] {
        color: $saturday-txt-color;
      }
      &[data-week-idx="0"],
      &.holiday {
        color: $sunday-txt-color;
      }
    }
    th {

      font-size: 12px;
    }
    td {
      font-size: 14px;
    }
  }
  .#{$pre}-datepicker-table-btn {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    padding: 0;
    border-radius: 50%;
    &:not(:disabled):hover {
      background-color: $list-btn-color;
    }
    &.today {
      background-color: $today-color;
      font-weight: bold;
    }
    &.selected {
      background-color: $selected-color;
      color: $selected-txt-color;
      font-weight: bold;
    }
    &:disabled {
      opacity: 0.4;
    }
  }
  .#{$pre}-datepicker-list {
    > ul {
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 5px;
    }
  }
  .#{$pre}-datepicker-list-btn {
    display: block;
    width: 100%;
    background-color: $list-btn-color;
    border: 0 none;
    height: 40px;
    padding: 0;
    font-size: 12px;
    border-radius: 5px;
    strong {
      font-size: 15px;
      font-weight: inherit;
    }
    &.today {
      background-color: $today-color;
      font-weight: bold;
    }
    &.selected {
      border-width: 0;
      background-color: $selected-color;
      color: $selected-txt-color;
      font-weight: bold;
    }
    &:disabled {
      opacity: 0.4;
    }
  }
}